version: "3.5"
services:
  mysql:
    image: mysql
    container_name: mysql_db
    environment:
      - MYSQL_ROOT_PASSWORD=root 
      - MYSQL_DATABASE=el_blogi
    volumes:
      - "./mysql:/var/lib/mysql"
    ports:
      - "3306:3306"